@import "https://js.arcgis.com/4.25/@arcgis/core/assets/esri/themes/light/main.css";

.esri-view {
  padding: 0px;
  /* margin-left: 300px; */
  width: 100%;
  height: 100%;
  font-family: Afacad;
}


/* i {
  background-clip: border-box;
}

button {
  font-size: 11px !important;
  color: #000000;
  font-weight: 900;
}
button:p {
  font-size: 10px;
} */
#img--logo {
  width: 150px;
  height: 40px;
  padding: 3px;
  border-radius: 5px;
  background-color: #ffffff;
}
#mapViewNode {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 700px;
}

